<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Inuits’ mission embodies pure innovation by looking at the dynamic ICT landscape from a different point of view. This enables us to create a fitting solution for our customers, using the latest technologies combined with durable open source components.</p>
                <a href="#" class="btn btn-default btn-xl">Discover our culture!</a>
            </div>
        </div>
    </div>
</section>
