<section id="Our jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our jobs</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>System administrator</h3>
                    <p class="text-muted">We interact as friends and continually share our knowledge.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Developer</h3>
                    <p class="text-muted">We operate in a fast innovating industry and our solutions are found by working together.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Business analist</h3>
                    <p class="text-muted">
                        We listen to your ideas and provide the opportunity to pursue them.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Open sollicitation</h3>
                    <p class="text-muted">Inuits is a growing company and you decide how you want to develop your career.</p>
                </div>
            </div>
        </div>
    </div>
</section>
